In [67]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start=datetime.datetime(2016,3,1)
end=datetime.datetime(2016,3,10)

df = data.DataReader(name="GOOG", data_source="yahoo", start=start, end=end)
df

# type(df)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976
2016-03-03,719.450012,706.020020,718.679993,712.419983,1958000,712.419983
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007

In [73]:
def inc_dec(c, o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        vlaue="Equal"
    return value
        
    
df['Status']=[inc_dec(c,o) for c,o in zip(df.Close, df.Open)]
df['Middle']=(df.Open+df.Close)/2
df['Height']=abs(df.Close-df.Open)
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998,Increase,711.214996,15.190002
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976,Decrease,718.924988,0.150024
2016-03-03,719.450012,706.020020,718.679993,712.419983,1958000,712.419983,Decrease,715.549988,6.260010
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015,Decrease,712.940002,4.099976
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973,Decrease,701.029999,11.740051
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971,Increase,691.279999,5.379944
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990,Increase,701.854980,6.770020
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007,Increase,710.470001,4.700012

In [ ]:
type(date_increase)
type(date_recrease)

In [79]:
p = figure(x_axis_type='datetime', width = 1000, height = 300, 
           sizing_mode='scale_width'  )
p.title.text = "Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Black" )

p.rect(df.index[df.Status=="Increase"], 
       df.Middle[df.Status=="Increase"], 
       hours_12, 
       df.Height[df.Status=="Increase"],
       fill_color="#F0F8FF", line_color="black")

p.rect(df.index[df.Status=="Decrease"], 
       df.Middle[df.Status=="Decrease"], 
       hours_12,
       df.Height[df.Status=="Decrease"],
       fill_color="#00FFFF", line_color="black")


output_file("Cs.html")
show(p)